body {
    background-color: rgb(20, 20, 20);

}

.Di1 {
    border: 1px solid;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: auto;
    margin: 100px;

}

.mam {
    border-bottom: 1px solid;
}

.btn {
    border-radius: 10px;
    color: white;
    background-color: burlywood;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: maroon;

}

.next {
    display: block;
    padding: 10px;
    background-color: hotpink;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0;
    width: 150px;
    display: none;
}